@-ms-viewport {
    width: device-width;
}

* {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    color: #333;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
    margin: 0;
}

h4 {
    font-size: 18px;
}

a {
    color: #fbfbfb;
}

a:hover {
	color: #fff;	
}

.container-fluid {
    padding-top: 80px;
    padding-bottom: 40px;
}

.no-padding-top {
    padding-top: 0;
}

.container {
    padding: 20px;
}

.container.brand,
.container.top {
    padding: 0 20px 20px;
}

.center {
    text-align: center;
    align-items: center;
    margin: 10px auto !important;
}

.hero {
    margin-top: 80px !important;
    margin-bottom: 0 !important;
    padding: 100px 20px;
    background-color: #f3f7f5;
    background-image: url(../img/icewater.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero h1 {
	color:  #fff;
	text-shadow: 1px 1px 1px #000;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-container img {
	width: 100%;
}

.navbar {
    height: 80px;
    background-color: #8DB1AB;
    color: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.navbar-logo {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.nav-item {
    font-size: 16px;
    font-weight: bold;
}

.active {
    text-decoration: underline;
}

.row {
    padding: 10px 0 0;
}

.extra-padding {
	padding: 20px 0;
}

.row.column {
    flex-direction: column;
}

.row-item {
    display: flex;
    margin: 10px 0;
}

.row.top {
    justify-content: space-between;
    align-items: center;
}

.sus-score {
    width: 60%;
}

.image-display {
    margin: 20px auto;
}

.image {
    width: 100%;
}

.img_center {
    margin: auto;
    text-align: center;
    width: 50%;
}

.img_full_screen {
    top: 0;
    width: 100%;
}

.jumbotron {
    margin-bottom: 0;
}

.score {
    border-radius: 50%;
    background-color: #E8AA14;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 80px;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    justify-content: center;
    letter-spacing: .5px;
}

.score.green {
	background-color: #509408;
}

.score.red {
	background-color: #940808;
}

.score-text {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-self: center;
    position: relative;
    line-height: normal;
    margin: 0 auto;
    color: #fff;
}

.score-denom {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.textile-badge {
    font-size: 20px;
}

.progress-bar {
    background-color: #8DB1AB;
}

.badge-primary {
    background-color: #9B6A6C;
}

.row-wechat {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.title-wechat {
    padding: 10px 0;
}

.a-wechat {
    background-color: #2f8819;
    border-color: transparent;
    width: auto;
}

.page-footer {
    background-color: #f9f9f9;
    font-size: 14px;
}