@-ms-viewport {
    width: device-width;
}

* {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    color: #333;
}

h1 {
    font-size: 30px;

}

h3 {
    margin: 0;
}

a {
    color: #fbfbfb;
}

.container-fluid {
    padding-top: 80px;
    padding-bottom: 40px;
}

.container {
    padding: 20px;
}

.container.brand,
.container.top {
    padding: 0 20px 20px;
}

.navbar {
    height: 80px;
    background-color: #8DB1AB;
    color: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.navbar-logo {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.nav-item {
    font-size: 16px;
    font-weight: bold;
}

.row {
    padding: 10px 0 0;
}

.row.column {
    flex-direction: column;
}

.row-item {
    display: flex;
    margin: 10px 0;
}

.row.top {
    justify-content: space-between;
}

.sus-score {
    width: 60%;
}

.image-display {
    margin: 20px auto;
}

.image {
    width: 100%;
}

.img_center {
    margin: auto;
    text-align: center;
    width: 50%;
}

.img_full_screen {
    top: 0;
    width: 100%;
}

.jumbotron {
    margin-bottom: 0;
}

.score {
    border-radius: 50%;
    background-color: #E8AA14;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 80px;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    justify-content: center;
    letter-spacing: .5px;
}

.score-text {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-self: center;
    position: relative;
    line-height: normal;
    margin: 0 auto;
    color: #fff;
}

.score-denom {
    font-size: 16px;
    font-weight: bold;
	color: #fff;
}

.textile-badge {
    font-size: 20px;
}

.progress-bar {
    background-color: #8DB1AB;
}

.badge-primary {
    background-color: #9B6A6C;
}

.page-footer {
	background-color: #f9f9f9;
	font-size: 14px;
}